@model IEnumerable<AnimeFigureProject.EntityModels.Collection>
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/MainCollection.css" asp-append-version="true" />

<div class="CreateBar">

    <form asp-action="Create">

        <input type="text" id="NameInput" name="name" placeholder="Collection name...">
        <input type="submit" class="btn btn-primary" value="Create">

    </form>

</div>

<table class="table">

    <tbody>

    @foreach (var item in Model) 
    {
        
        <tr onclick="ShowCollection(@item.Id)">
            
            <td>
            
                <h3>@item.Name</h3> 
                Owner: @item.OwnerId 
                <br>
                Diffrence: €@item.CalculatePriceValueDiffrence() Price: €@item.TotalPrice Value: €@item.TotalValue
             
            </td>
        
        </tr>

    }

    </tbody>
    
</table>

<script src="~/js/MainCollection.js"></script>